* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



/*HOMEPAGE*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "catst catst catst catst catst catst catst catst catst catst catst catst"
        "but but but but but but but but but but but but";
}


.catst {
    grid-area: catst;
    grid-row:1;
    background-color: #212121;
    height:100vh;
}

.but {
    grid-area: but;
    grid-row:1;
}



/*@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


.fade-in {
    
 opacity:0;  
 -webkit-animation:fadeIn ease-in 1;  
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;
 
 -webkit-animation-fill-mode:forwards;  
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}*/


